[ req ]
prompt = no
default_bits = 2084
default_keyfile = ca.key
distinguished_name = req_distinguished_name
x509_extensions = v3_ca

[ req_distinguished_name ]
countryName = CN
stateOrProvinceName = Shanghai
localityName = Shanghai
organizationName = PPROXY
organizationalUnitName = PPROXY
commonName = PPROXY

[ v3_ca ]
keyUsage = keyCertSign, cRLSign
basicConstraints = critical, CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always
