[ req ]
prompt = no
default_bits = 2048
default_keyfile = server.key
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
countryName = CN
stateOrProvinceName = Shanghai
localityName = Shanghai
organizationName = PPROXY
organizationalUnitName = PPROXY
commonName = PPROXY

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = IP:127.0.0.1, DNS:localhost, DNS:github.com, DNS:githubusercontent.com, DNS:githubassets.com, DNS:github.io, DNS:steamcommunity.com, DNS:pixiv.net, DNS:pixivsketch.net, DNS:pximg.net, DNS:*.github.com, DNS:*.githubusercontent.com, DNS:*.githubassets.com, DNS:*.github.io, DNS:*.steamcommunity.com, DNS:*.pixiv.net, DNS:*.pixivsketch.net, DNS:*.pximg.net, DNS:greasyfork.org, DNS:*.greasyfork.org
subjectKeyIdentifier = hash
